<div class="container">
	<h2>Sign in below</h2>
</div>

<div class="container">
<%= form_for :session, url: {action: "create"} do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email, placeholder: 'Email' %>

  <%= f.label :password %>
  <%= f.text_field :password, placeholder: 'Password' %>
  <%= f.submit('Sign in') %>
<% end %>
</div>

<div class="container">
<p>New user? <%= link_to "Sign up now!", sign_up_path %></p>
</div>
