<h1>New Restaurant</h1>

<% if @restaurant.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

		<ul>
			<% @restaurant.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

	<%= form_for @restaurant do |f| %>
	  <%= f.label :name %>
	  <%= f.text_field :name, placeholder: 'Restaurant name' %>
	  <%= f.label :description %>
	  <%= f.text_field :description, placeholder: 'Restaurant Description' %>
	<%= f.submit('Add Restaurant') %>
	
<% end %>
