<div class="container">
<h1><%= @restaurant.name %></h1>
<h2><%= @restaurant.description %></h2>
</div>
<div class="container">
	<% if @restaurant.reviews.empty? %>
	<p>No reviews for this restaurant</p>
	<% else %>
	<p>The average review for this restaurant is:</p>
	<strong><%= @restaurant.average_review %></strong><br>
	<% end %>
</div>

<div class="container">
<ul class='review-list list-unstyled'>
<% @restaurant.reviews.each do |review| %>
	<li>Score: <%= review.score %> Review: <%= review.review %></li>
<% end %>
</ul>
</div>

<div class="container">	
<%= link_to 'Review this restaurant now!' , new_restaurant_review_path(@restaurant) %>
</div>