<div class="container">
<h1><%= @restaurant.name %></h1>
<h2><%= @restaurant.description %></h2>
</div>
<div class="container">
	<% if @restaurant.reviews.empty? %>
	<p>No reviews for this restaurant</p>
	<% else %>
	<h4>The average review for this restaurant is:</h4>
	<h4><strong><%= @restaurant.average_review %></strong></h4><br>

	<h3>Reviews</h3>
	<% end %>
</div>


<div class="container">
<ul class='list-unstyled'>
<% @restaurant.reviews.each do |review| %>
	<div class="review-list">
	<li> 
		<strong><%= review.score %>
		<span> | </span></strong>
		<em>  <%= review.review %></em>
	</li>
	</div>
<% end %>
</ul>
</div>

<div class="container">	
<%= link_to 'Review this restaurant now!' , new_restaurant_review_path(@restaurant) %>
</div>