<!DOCTYPE html>
<html>
<head>
  <title>Restaunt</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Restaunt", '/', id: "logo" %>
          <nav>
            <ul class="pull-right list-inline">
              <% if current_user %>
              <li><%= link_to "Home", '/' %></li>
              <li><%= link_to "Sign out", sign_out_path, method: "delete" %></li>
              <% else %>
              <li><%= link_to "Home", '/' %></li>
              <li><%= link_to "Sign up", sign_up_path %></li>
              <li><%= link_to "Sign in", sign_in_path %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
</header>

<div class="container">
    <% if flash[:notice] %>
        <div class='notice'><%= flash[:notice] %></div>
    <% end %>
      
    <%= yield %> 

</div>


</body>
</html>
